@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* Your custom styles can go here */

@layer utilities {
  .blink {
    animation: blink 2s ease infinite;
  }
  @keyframes blink {
    0%,
    100% {
      opacity: 0.3;
    }
    50% {
      opacity: 1;
    }
  }

  .quickview {
    animation: quickview 0.6s ease;
  }
  @keyframes quickview {
    0% {
      transform: translateY(100px);
      -webkit-transform: translateY(100px); /* Safari and Chrome */
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      -webkit-transform: translateY(0px); /* Safari and Chrome */
      opacity: 1;
    }
  }

  .bgslide {
    animation: bgslide 0.6s ease-in-out;
  }

  @keyframes bgslide {
    0% {
      transform: translateX(-400px);
      -webkit-transform: translateX(-400px); /* Safari and Chrome */
    }
    100% {
      transform: translateX(0px);
      -webkit-transform: translateX(0px); /* Safari and Chrome */
    }
  }

  .dropslide {
    animation: dropslide 0.6s ease-in-out;
  }

  @keyframes dropslide {
    0% {
      transform: translateX(-400px);
      -webkit-transform: translateX(-400px); /* Safari and Chrome */
    }
    100% {
      transform: translateX(0px);
      -webkit-transform: translateX(0px); /* Safari and Chrome */
    }
  }

  .cateslide {
    animation: cateslide 0.6s ease-in-out;
  }

  @keyframes cateslide {
    0% {
      transform: translateY(-200px);
      -webkit-transform: translateY(-200px); /* Safari and Chrome */
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      -webkit-transform: translateY(0px); /* Safari and Chrome */
      opacity: 1;
    }
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
